.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(187, 184, 231, 0.5);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 20px;
  width: 250px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  backface-visibility: hidden;
}

.card-container:hover {
  transform: scale(1.05);
}
